@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap");

*{
    margin: 0;
padding: 0;
box-sizing: border-box;
}
:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
}


body {
    font-family: "Poppins", sans-serif;
    color: var(--primary-text-color);
}

p {
    font-family: "Roboto", sans-serif;
    color: var(--secondary-text-color);
    line-height: 1.4rem;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.flex{
    display: flex;
    align-items: center;
}

.container{
    margin-inline:auto;
    max-width: 1180px;
    overflow: hidden;
}
.card {
    background-color: #fff;
    overflow: hidden;
    transition: all 0.3s ease;
    width: 360px;
    min-height: 400px;
    box-shadow: 0 0 4px #d4ecff;
    border-radius: 4px;
    cursor: pointer;
}
.card:hover {
    box-shadow: 1px 1px 8px #000a13;
    background-color: #f9fdff;
    transform: translateY(-2px);
}